* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.notes {
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  flex-wrap: wrap;
}
.note {
  background-color: #464545;
  color: whitesmoke;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 30rem;
  min-width: 150px;
}
.note-create-form {
  display: flex;
  gap: 1rem;
  padding-inline: 3rem;
  padding-block: 1rem;
}
input {
  padding: 5px 10px;
  outline: none;
  border: 2px solid black;
  border-radius: 30px;
}
.note-create-form button {
  padding: 8px 16px;
  text-transform: uppercase;
  background-color: red;
  color: white;
  font-weight: 700;
  border-radius: 30px;
  border: none;
}
h1 {
  text-align: center;
}
.note button {
  padding: 2px 5px;
  border: none;
  border-radius: 10px;
  margin: 5px;
}
