.nav-bar {
  position: absolute;
  top: 2%;
  left: 2%;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  width: 90%;

  p {
    font-size: large;
  }

  button {
    height: 2.5rem;
    width: 2.5rem;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: red;
    }
    &:active {
      scale: 0.9;
    }
  }
}
